[Unit]
Description=Run Rclone Service

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/grive -p ${HOME}/Drive/Drive1 && /usr/bin/grive -p ${HOME}/Drive/Drive2' 
