[Unit]
Description=feh
Requires=i3-session.target
After=i3-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/feh --bg-fill %h/.config/background.jpg
ExecReload=/usr/bin/feh --bg-fill %h/.config/background.jpg
ExecStop=/usr/bin/feh --bg-fill %h/.config/background.jpg
RemainAfterExit=true
Restart=on-failure
RestartSec=5

ProtectSystem=true
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
