[Unit]
Description=feh
After=i3-session.target
Requires=i3-session.target

[Service]
Type=exec
ExecStart=/usr/bin/feh --bg-scale ${HOME}/.config/background.jpg
ExecReload=/usr/bin/feh --bg-scale ${HOME}/.config/background.jpg
Restart=always
