[Unit]
Description=Picom
Requires=i3-session.target

[Service]
Type=simple
ExecStart=/usr/bin/picom
ExecReload=/usr/bin/kill -HUP $MAINPID
RestartSec=0
Restart=always

MemoryMax=2
Nice=-5
ManagedOOMMemoryPressure=kill
ManagedOOMMemoryPressureLimit=5%

[Install]
WantedBy=i3-session.target
