[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[E6407B13407AEA27]
row=1
col=0

[108C3DFE8C3DDF42]
row=2
col=0

[3E7656C676567E99]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/umut]
row=5
col=0

